/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


/**Random Colors Colors**/
$color-1: #1abc9c;
$color-2: #34495e;
$color-3: #3498db;
$color-4: #9b59b6;
$color-5: #e67e22;
$color-6: #fbfcfc;
$color-7: #95a5a6;
$color-8: #34495e;
$color-9: #3498db;
$color-10: #c0392b;

// /**Template Colors**/
// $logo-Color: $color-1;


// /**Animate Colors**/
// @-webkit-keyframes random-color-animation{
// 	10%{color: $color-1; font-family: arial;}
// 	20%{color: $color-2;}
// 	30%{color: $color-3;}
// 	40%{color: $color-4;}
// 	50%{color: $color-5;}
// 	60%{color: $color-6; font-family: sans-serif;}
// 	70%{color: $color-7;}
// 	80%{color: $color-8;}
// 	90%{color: $color-9;}
// 	100%{color: $color-10;}
// }
// @-moz-keyframes random-color-animation{
// 	10%{color: $color-1; font-family: arial;}
// 	20%{color: $color-2;}
// 	30%{color: $color-3;}
// 	40%{color: $color-4;}
// 	50%{color: $color-5;}
// 	60%{color: $color-6; font-family: sans-serif;}
// 	70%{color: $color-7;}
// 	80%{color: $color-8;}
// 	90%{color: $color-9;}
// 	100%{color: $color-10;}
// }
// @-o-keyframes random-color-animation{
// 	10%{color: $color-1; font-family: arial;}
// 	20%{color: $color-2;}
// 	30%{color: $color-3;}
// 	40%{color: $color-4;}
// 	50%{color: $color-5;}
// 	60%{color: $color-6; font-family: sans-serif;}
// 	70%{color: $color-7;}
// 	80%{color: $color-8;}
// 	90%{color: $color-9;}
// 	100%{color: $color-10;}
// }
// @keyframes random-color-animation{
// 	10%{color: $color-1; font-family: arial;}
// 	20%{color: $color-2;}
// 	30%{color: $color-3;}
// 	40%{color: $color-4;}
// 	50%{color: $color-5;}
// 	60%{color: $color-6; font-family: sans-serif;}
// 	70%{color: $color-7;}
// 	80%{color: $color-8;}
// 	90%{color: $color-9;}
// 	100%{color: $color-10;}
// }

// /**Branding**/
// .logo h1{
// 	font-family: "Lobster 1.4";
// 	font-weight: 100;
// 	font-size: 34px;
// 	color: $logo-Color;
// 	-webkit-animation: random-color-animation 5s infinite;
// 	-moz-animation: random-color-animation 5s infinite;
// 	-o-animation: random-color-animation 5s infinite;
// 	animation: random-color-animation 5s infinite;

// 	span{
// 		font-weight: 900;
// 	}
// }
// /**Branding Ends**/


html, body{
	height: 100%;
}


#header{
	width: 100%;
}

#main-nav{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	right: 0;
	z-index: 1000;

	li{
		text-align: right;
		a{
		}		
	}


}

.section{

	&.section-wim{
		background-color: $color-1;
	}

	&.section-wid{
		background-color: $color-2;
	}

	&.section-sah{
		background-color: $color-3;
	}
}

@media (min-width: 768px){

	body{
		// padding-top: 100px
	}
	.section{
		height: 100%;
		min-height: 400px;
		margin-top: -100px;
	}

	#header{
		position: fixed;
		height: 100px;
		top: 0;
	}
}